@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');

#aboutMeSec {
  font-weight: 900;
  font-family: "Melodrama-Bold";
  font-size: 3rem;
  text-align: center;
}