@media screen and (max-width: 500px) {
  #aboutSec {
    height: 100vh;
    width: 95%;
  }

  #first-col {
    grid-column: span 3 / span 3;

  }

  #first-col-h2 {
    font-size: 20px;
    margin: 0 5px 0 5px;
  }

  #first-col-p {
    font-size: 12px;
    word-break: break-all;
    margin: 5px;
  }

  #second-col {
    grid-column: span 2 / span 2;
    height: 50vh;

    grid-row: auto;
  }

  #second-col-h2 {
    font-size: 18px;
    margin: 0 5px 0 5px;
  }

  #second-col-p {
    font-size: 14px;
    word-break: break-all;
    margin: 5px;
    font-weight: 600;
  }

  #third-col {
    word-wrap: break-word;
    grid-column: auto;
    height: 50vh;
  }

  #third-col-h2 {
    font-size: 19px;
    margin: 0;
    text-align: center;
  }


}