@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');

.header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  top: 0;
}

.header-img {
  height: 44px;
  margin-left: 20px;
  aspect-ratio: 1.8;
}

.navBar {
  margin-top: 45px;
}

.navBar a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  text-decoration: none;
  margin-right: 30px;
  color: lightgray;
}

.navBar a:hover {
  text-decoration: underline;
}

.contact_btn {
  cursor: pointer;
  padding: 12px 28px;
  color: black;
  margin-right: 28px;
  background: white;
  border-radius: 5px;
  border: solid 1px black;
  transition: 0.2s;
}

.contact_btn:hover {
  scale: 1.1;
  background: #000;
  color: white;
}

.phone {
  width: 100%;
  display: flex;
  justify-content: center;

}

.floatingNav {
  display: flex;
  position: fixed;
  gap: 18px;
  top: 1rem;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  max-width: fit-content;
  background-color: lightcoral;
  filter: blur(1px);
}



@media (max-width: 750px) {
  .header>*:not(.header-img) {
    display: none;
  }
}